[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
importlib-metadata = "==1.7.0"
ipykernel = "*"
matplotlib = "*"
ipywidgets = "*"
torch = "*"
torchtext = "*"

[packages]
nltk = "*"

[requires]
python_version = "3.7"
